In [1]:
# Input data

import pandas as pd
data = pd.read_csv("D:\streamlit\inventories.csv")
data.head()

,Name,Make,Model,Serial Number,Category,Location,Collection,Condition,Heir,Purchased From,...,Tags,SKU,Photo Labels and Filenames,Receipt Labels and Filenames,Warranty Issuer 1,Warranty Type 1,Warranty Term 1,Warranty Contact 1,Warranty Notes 1,Note 1
0,Adapter 3.5 female to 6.5 male,NaN,NaN,NaN,AUDIO,STORAGE ROOM,(uncollected),Good,(unassigned),NaN,...,NaN,A0202,"Adapter Jack 3.5 female to 6.5 male,/Users/pho...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Adapter 3.5mm 1 Male to 2 Female 3.5mm Audio,NaN,NaN,NaN,AUDIO,STORAGE ROOM,(uncollected),Fair,(unassigned),NaN,...,NaN,A0202,Jack Adapter 3.5mm 1 Male to 2 Female 3.5mm Au...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adapter 3.5mm Female to 6.5mm Male Audio,NaN,A0202,NaN,AUDIO,STORAGE ROOM,(uncollected),Good,(unassigned),NaN,...,NaN,NaN,"Jack Adapter 3.5mm Female to 6.5mm Male Audio,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Adapter 6.5mm Stereo Male To 2 RCA Female,NaN,NaN,NaN,AUDIO,STORAGE ROOM,(uncollected),Good,(unassigned),NaN,...,NaN,A0202,Jack Adapter 6.5mm Stereo Male To 2 RCA Femal...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adapter Displayport to DVI Female,NaN,NaN,NaN,NETWORKING & PERIPHERAL,STORAGE ROOM,(uncollected),Good,(unassigned),NaN,...,NaN,N0209,"Adapter Displayport to DVI Female,/Users/phoen...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# tampilan kolom
data.columns

Index(['Name', 'Make', 'Model', 'Serial Number', 'Category', 'Location',
       'Collection', 'Condition', 'Heir', 'Purchased From', 'Purchase_Date',
       'Price', 'Quantity', 'Value', 'ISBN/EAN Number', 'Tags', 'SKU',
       'Photo Labels and Filenames', 'Receipt Labels and Filenames',
       'Warranty Issuer 1', 'Warranty Type 1', 'Warranty Term 1',
       'Warranty Contact 1', 'Warranty Notes 1', 'Note 1'],
      dtype='object')

In [3]:
# cek data yang memiliki nilai NA
data.isnull().sum()

Name                              0
Make                             96
Model                           162
Serial Number                   196
Category                          0
Location                          0
Collection                        0
Condition                         0
Heir                              0
Purchased From                  245
Purchase_Date                     0
Price                             0
Quantity                          0
Value                             0
ISBN/EAN Number                 245
Tags                            216
SKU                               7
Photo Labels and Filenames        0
Receipt Labels and Filenames    245
Warranty Issuer 1               245
Warranty Type 1                 245
Warranty Term 1                 245
Warranty Contact 1              245
Warranty Notes 1                245
Note 1                          216
dtype: int64

In [4]:
data.value_counts().reset_index(name ='counts')

Empty DataFrame
Columns: [Name, Make, Model, Serial Number, Category, Location, Collection, Condition, Heir, Purchased From, Purchase_Date, Price, Quantity, Value, ISBN/EAN Number, Tags, SKU, Photo Labels and Filenames, Receipt Labels and Filenames, Warranty Issuer 1, Warranty Type 1, Warranty Term 1, Warranty Contact 1, Warranty Notes 1, Note 1, counts]
Index: []

[0 rows x 26 columns]

In [5]:
data.columns

Index(['Name', 'Make', 'Model', 'Serial Number', 'Category', 'Location',
       'Collection', 'Condition', 'Heir', 'Purchased From', 'Purchase_Date',
       'Price', 'Quantity', 'Value', 'ISBN/EAN Number', 'Tags', 'SKU',
       'Photo Labels and Filenames', 'Receipt Labels and Filenames',
       'Warranty Issuer 1', 'Warranty Type 1', 'Warranty Term 1',
       'Warranty Contact 1', 'Warranty Notes 1', 'Note 1'],
      dtype='object')

In [6]:
data = data[['Name', 'Category',  'Location', 'Condition', 'Purchase_Date' ,'Price', 'Quantity', 'Value']]

In [7]:
data.head()

,Name,Category,Location,Condition,Purchase_Date,Price,Quantity,Value
0,Adapter 3.5 female to 6.5 male,AUDIO,STORAGE ROOM,Good,2020-01-25,49000,5,245000
1,Adapter 3.5mm 1 Male to 2 Female 3.5mm Audio,AUDIO,STORAGE ROOM,Fair,2020-01-25,4200,1,4200
2,Adapter 3.5mm Female to 6.5mm Male Audio,AUDIO,STORAGE ROOM,Good,2020-02-27,7000,1,7000
3,Adapter 6.5mm Stereo Male To 2 RCA Female,AUDIO,STORAGE ROOM,Good,2020-02-29,8000,1,8000
4,Adapter Displayport to DVI Female,NETWORKING & PERIPHERAL,STORAGE ROOM,Good,2019-12-06,50000,1,50000

In [8]:
purchase = pd.to_datetime(data['Purchase_Date'])
data['Purchase_Year'] = purchase.dt.year
data = data.drop(['Purchase_Date'], axis=1)

In [9]:
data

,Name,Category,Location,Condition,Price,Quantity,Value,Purchase_Year
0,Adapter 3.5 female to 6.5 male,AUDIO,STORAGE ROOM,Good,49000,5,245000,2020
1,Adapter 3.5mm 1 Male to 2 Female 3.5mm Audio,AUDIO,STORAGE ROOM,Fair,4200,1,4200,2020
2,Adapter 3.5mm Female to 6.5mm Male Audio,AUDIO,STORAGE ROOM,Good,7000,1,7000,2020
3,Adapter 6.5mm Stereo Male To 2 RCA Female,AUDIO,STORAGE ROOM,Good,8000,1,8000,2020
4,Adapter Displayport to DVI Female,NETWORKING & PERIPHERAL,STORAGE ROOM,Good,50000,1,50000,2019
...,...,...,...,...,...,...,...,...
240,ZUGGERNAUT,WORKSTATION,SUITE,Excellent,38000000,1,38000000,2019
241,ZUGGERNAUT AUDIO INTERFACE,WORKSTATION,SUITE,Excellent,3400000,1,3400000,2020
242,ZUGGERNAUT DISPLAY MONITOR,WORKSTATION,SUITE,Excellent,3900000,2,7800000,2020
243,ZUGGERNAUT Keyboard & Mouse,WORKSTATION,SUITE,Excellent,2300000,1,2300000,2020
244,ZUGGERNAUT LOUD SPEAKER,AUDIO,SUITE,Good,862500,2,1725000,2021

In [11]:
data.to_csv('inventories_update.csv')